<h2><%=l(:label_version_new)%></h2>

<%= labelled_form_for @version, :url => { :action => 'create' } do |f| %>
<%= render :partial => 'orders/form', :locals => { :f => f } %>
<%= submit_tag l(:button_create) %>
<% end %>
