<tr><td colspan="2">

<% shift = (@view == :day ? 1 : 7)  %>

<%= link_to "\xc2\xab " + l(:label_previous ), {:controller => "timesheets", :action => "index", :day => (@current_day - shift).to_s(:param_date)},
          :user_id => params[:user_id], :title => l("label_previous_#{@view}")%>
  |
  <%= link_to l(:label_today), {:controller => "timesheets", :action => "index", :day => DateTime.now.to_s(:param_date)},
              :user_id => params[:user_id], :title => l(:label_today)%>
  |
<%= link_to l(:label_next) + " \xc2\xbb", {:controller => "timesheets", :action => "index", :day => (@current_day + shift).to_s(:param_date)},
          :user_id => params[:user_id], :title => l("label_next_#{@view}") %>

</td></tr>