<div class="contextual">
<%= link_to l(:button_add),
      {:controller => 'order_users', :action => 'new', :object_type => watched.class.name.underscore, :object_id => watched},
      :remote => true,
      :method => 'get' %>
</div>

<h3><%= l(:label_issue_watchers) %> (<%= watched.watcher_users.size %>)</h3>

<%= watchers_list(watched) %>
